.slider {
    width: 400px;
    height: 20px;
    background-color: #ccc;
    position: relative;
    margin: 50px auto;
}

.handle {
    width: 20px;
    height: 40px;
    background-color: #555;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: grab;
}

.value {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -200%);
}